.header {
  background: rgb(19, 19, 56);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  color: white;
  font-size: 300%;
  padding-top: 15px;
  padding-bottom: 20px;
  text-align: center;
  min-height: auto;
  max-width: auto;
  }

.form {
  background-color: lightgoldenrodyellow;
  }

.form-name {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 40px;
  font-weight: 100;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-submit {
  background-color: white;
  padding-top: 25px;
  padding: 5px;
  margin-bottom: 10px;
  margin: 5px;
  border-width: 3px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.form-item {
  padding: 10px;
  margin: 10px;
  border-width: 3px;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-info {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.leftSideOfForm {
  margin: 1cm;
  }

.rightSideOfForm {
  min-width: 500%;
  max-height: 250px;
  overflow-y: scroll;
  text-align: center;
  background-color: rgb(145, 211, 255);
  padding-top: 10px;
}

.poseCardForm {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
  background-color: white;
  padding: 5%;
}

.poseCards {
  background-color: rgb(252, 252, 183);
  /* border-radius: 50%; */
}

.classcards {
  display: grid;
  background-color: #DAE8F2;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  grid-auto-rows: minmax(100px, auto);
  /* border-style: solid; */
  /* border-radius: 4%; */
  /* width: 80%; */
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  /* width: 80%; */
  position: relative;
}
.classCardContent{
  text-align: center
}

.classCardContent{
 text-align: center
}
.deleteButton{
 background-color: #6984D1 ;
 border: none;
 color: white;
 padding: 8px 16px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 /* border-radius: 4%; */
 transition-duration: 0.4s;
 width: 20%;
 font-size: 2rem;
 position: relative;
 /* right: 100%; */
}

#deleteButton {
  width: 20%
}
.deleteButton:hover {
 background-color: #495B8F;
 color: white;
}

.poseCards {
  background-color: rgb(252, 252, 183);
  border-radius: 20%;
}